<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.javasm.mapper.UserMapper">
    <!--设置sql公共代码-->
    <sql id="queryUser">
        select user_id,user_name,user_pwd,role_id,reg_time,login_time,is_valid,head_img,version_id
    </sql>

    <resultMap id="userMap" type="user">
        <id column="user_id" property="userId"></id>
        <result column="user_name" property="userName"></result>
        <result column="user_pwd" property="userPwd"></result>
        <result column="role_id" property="roleId"></result>
        <result column="reg_time" property="regTime"></result>
        <result column="login_time" property="loginTime"></result>
        <result column="is_valid" property="isValid"></result>
        <result column="head_img" property="headImg"></result>
        <result column="version_id" property="versionId"></result>
    </resultMap>
    <!--
        根据用户名和密码查询登录用户数据
        User queryByUserNameAndUserPwd(User user);
    -->
    <select id="queryByUserNameAndUserPwd" resultMap="userMap">
        <include refid="queryUser"></include>
        from fin_admin_user
        where user_name=#{userName}
        and user_pwd=#{userPwd}
    </select>


</mapper>